<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Riwayat Kesehatan Pasien</title>
  </head>
  <body>
    


      <nav navbar-expand-lg navbar-light bg-light>
        <div class="row" >
                <div class="col-xl-12" >
        <div class="container">
                    <ul class="nav justify-content-end ">
                        <li class="nav-item ">
                            <a class="nav-link" href="dashboard.blank.php">Beranda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/riwayat">Layanan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profil">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Panduan Layanan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Log out</a>
                        </li>
                    </ul>
                        </div>
                    </div>
            </div>
        </div>
      </nav>


      <div class="container text-center">
      <img src="makanteratur.jpg" width="720" height="400" style="margin-top: 5rem">
      </div>

      <div class="container">
        <div class="row">
          <div class="col text-center">
          <h1>Bahaya Begadang Saat Bulan Ramadhan</h1>
          </div>
        </div>
              <div class="row">
                <div class="col text-justify">
                  <p>Begadang di malam hari saat puasa membuat otak tidak bisa beristirahat dengan sempurna sehingga membuat kamu merasakan pusing, sakit kepala, serta kurangnya konsentrasi.
                    Kondisi tersebut akan diperparah dengan kurangnya cairan dan elektrolit selama berpuasa. Dengan keadaan seperti ini, otomatis kamu tidak akan bisa menyelesaikan pekerjaan dengan baik.
                    Sebab, konsentrasi kamu berkurang dikarenakan begadang di malam harinya.
                    Dengan demikian, jangan sampai begadang saat puasa, ya! Selain mengganggu pekerjaan juga tidak baik untuk kesehatan.</p>
                  <p>Selain berkurangnya konsentrasi, kamu juga lebih lemah jika begadang saat puasa. Hal ini jelas dapat mengganggu produktivitas pekerjaanmu keesokan harinya. Begadang dapat memicu melemahnya sistem kekebalan tubuh. Apabila sistem kekebalan tubuh melemah, tubuh akan kesulitan melawan infeksi dari luar sehingga membuat kamu gampang sakit. Ditambah lagi, saat berpuasa kamu kekurangan asupan sarapan dan makan siang sehingga membuat tubuh akan lebih rentan. Kamu berpotensi terserang penyakit jika begadang di malam hari. Apabila kondisi tubuh melemah pada keesokan harinya,  otomatis kamu tidak akan bisa optimal dalam bekerja.</p>
                  <P>Orang begadang biasanya akan mengalami kurangnya konsentrasi dan sering merasa ngantuk keesokan harinya. Keadaan tersebut dapat menyebabkan orang menjadi lebih emosional karena tidak dapat melaksanakan aktivitas secara normal. Rasa emosional yang berlebihan tersebut dapat menyebabkan produksi asam lambung meningkat. Hal ini tentu sangat berbahaya jika kamu juga mengalami penyakit maag dan memaksa untuk begadang di malam hari saat puasa.Selain mengganggu pekerjaanmu, penyakit maag kamu juga berpotensi semakin parah, sebab puasa harus menahan lapar selama kurang lebih 14 jam.</P>
                  
                </div>
              </div>

      </div>

      
    















    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>